@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Karla|Ubuntu');

/* HAMBURGER ICON STYLING */

.hamburger-container {
    border-radius: 10px;
    float: right;
    z-index: 20;
    /*give this a z index so that it remains on top and will be clickable above the overlay  */
    position: fixed;
    padding: 1vw;
    right: 0%;
    top: 40%;
    
}

#top_bun,
#meat,
#bottom_bun {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: relative;
    /* margin-right: 0vw; */
}

.hamburger-container div {
    transition: 0.4s;
}



/* OVERLAY STYLING */

#overlay {
    height: 0vw;
    width: 25vw;
    position: fixed;
    /* fixed position so if the page is scrollable, this still remains in the same position */
    z-index: 10;
    /* z index so its above the main webpage, yet under the hamburger icon */
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0.9;
    overflow-x: hidden;
    /*need tis to to prevent seeing the text when the overlay height is 0.*/
    transition: 0.4s;
}


#overlay nav {
    margin-top: 20vh;
}


#overlay li {
    list-style-type: none;
    display: block;
    opacity: 100%;
    text-align: left;
    margin: 10px;
}

#overlay li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

