@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Karla|Ubuntu');


* {
  margin: 0;
  padding: 0;
}

html, body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

button {
    /*  margin-top: 250px;*/
    background: none;
    color: white;
    border: none;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* margin-top: 3%; */
    /* font-family: 'Ubuntu', sans-serif; */
    /*   font-family: 'Karla', sans-serif;*/
    /* font-size: 17px; */
    letter-spacing: .20em;
    text-decoration: none;
    /*font-size: 23px;*/
    /*font-family: 'Roboto Mono', monospace;*/
    /* -webkit-transition: all 0.3s ease-in-out; */
}
button:hover{
    transition: 0.3s;
    /* background-color:whitesmoke; */
    color:  #acacac;
    text-decoration: none;
    animation: motionblur 0.8s normal;
}

body {
    /* background-image: url(bg.png); */
    /* background-size: 8000px; */
    /* margin-left:100px;*/
    /* font-family: 'Roboto Mono', monospace;*/
    font-family: 'Ubuntu', sans-serif;
    /*   font-family: 'Karla', sans-serif;*/
    font-size: 17px;
    letter-spacing: .20em;
    /*font-weight: regular;*/
    color: white;
    line-height: 2em;
    /* width: 8000px; */
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -2;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    color: transparent;

}


.section {
	position:fixed;
	margin: auto;
    top: 49%;
    width: 100%;
    text-align: center;
}


p {
    margin-top: 5%;
    width: 500px;
}

.transition {
    /* color: transparent; */
    /* background-color: #2fadac; */
   -webkit-transition: all 0.5s ease-in-out;
}

/* 
.context {
    transition: 500ms;
  } */

  @keyframes motionblur {
    0%
    {
      /* left: 0; */
      text-shadow: 0 0 0 rgba(255,255,255,0);
      /* box-shadow: 0 0 0 rgba(200,0,0,0); */
    }
    5%
    {
      /* left: 0;
      transform-origin: 0 0;
      transform: scaleX(0.85); */
      text-shadow: 0 0 5 rgba(255,255,255,1);
    }
    25%
    {
      text-shadow: 0 0 10px rgba(255,255,255,1);
      /* box-shadow: -15px 0 10px -5px rgba(200,0,0,0.5); */
      /* transform: scaleX(1.1) skewX(-4deg); */
    }
    50%
    {
      /* left: 300px; */
      text-shadow: 0 0 20px rgba(255,255,255,1);
      /* box-shadow: 0 0 0 rgba(200,0,0,1); */
      /* transform: scaleX(1) skewX(0deg); */
    }
    55%
    {
      /* left: 300px; */
      /* transform-origin: 100% 0; */
      /* transform: scaleX(0.85); */
    }
    75%
    {
      text-shadow: 0 0 30px rgba(255,255,255,0.3);
      /* box-shadow: 15px 0 10px -5px rgba(200,0,0,0.5); */
      /* transform: scaleX(1.1) ; */
    }
    100%
    {
      /* left: 0px; */
      text-shadow: 0 0 50 rgba(255,255,255,0);
      /* box-shadow: 0 0 0 rgba(200,0,0,0); */
      /* transform: scaleX(1.2) ; */
    }
  }